<app-toolbar></app-toolbar>
<app-toolbar-buffer></app-toolbar-buffer>
<h1>Create New Post</h1>
<div class="post-creation-container">
    <div class="add-content-button">
        <button (click)="addText()" class="add-button">Add Text</button>
        <button (click)="addCode()" class="add-button">Add Code</button>
        <button (click)="addImage()" class="add-button">Add Image</button>
        <button (click)="addHeading()" class="add-button">Add Heading</button>
        <button (click)="addLink()" class="add-button">Add Link</button>
    </div>
    <div class="fill-content-section">
        <label for="title">Title</label>
        <input id="title" [(ngModel)]="title" />
        <div *ngFor="let cont of content; let i = index;" class="content-list">
            <label class="content-type-label">{{ContentType[cont.type]}}</label>
            <button (click)="removeContent(i)" class="remove-button">Remove</button>
            <textarea *ngIf="cont | guardType : isText as t" class="text-content" [(ngModel)]="t.text"></textarea>
            <textarea *ngIf="cont | guardType : isCode as c" class="code-content" [(ngModel)]="c.code"></textarea>
            <input *ngIf="cont | guardType : isImage as i" [(ngModel)]="i.url" />
            <input *ngIf="cont | guardType : isLink as l" [(ngModel)]="l.url" />
            <input *ngIf="cont | guardType : isHeading as h" [(ngModel)]="h.text" />
        </div>
    </div>
</div>
<button (click)="post()">Post</button>
