<app-toolbar></app-toolbar>
<app-toolbar-buffer></app-toolbar-buffer>
<div class="container">
    <div class="blog-posts">
        <h1>Welcome to the Self Documenting Blog!</h1>
        <p>The purpose of this blog/website is to document the learning experience 
            of creating and building a personal website and tracking my learning 
            process along the way. The timeline of creation will be tracked by blog
            posts that I create. In that way it is "self documenting". This blog is
            written in Angular, because that's what I know to get started.
        </p>
        <h3>
            Below are the blog entries listed in reverse chronological order. Click one 
            below to read and learn about the progress! To the right are other projects that 
            are held inside of this one.
        </h3>
        <app-post-preview *ngFor="let post of postPreviews;" [postPreview]="post" (postId)="navigateOnClick($event)"></app-post-preview>
    </div>
    <div class="other-links">
        <button (click)="signInWithGoogle()">Login With Google</button>
        <a routerLink="/home/create" style="display: block;" *ngIf="hasPermissions()">Create New Post</a>
        <div class="game-display">
            <a routerLink="/minesweeper" class="game-link">Minesweeper World</a>
            <p>Play an upscale twist on the classic game without borders!</p>
        </div>
        <div class="game-display">
            <a routerLink="/list-em-all" class="game-link">Gotta List 'em all!</a>
            <p>Test Your Pok&eacute;mon knowledge by listing 'em all in each generation!</p>
        </div>
        
    </div>
</div>

