<!-- The goal of this project is to learn and create a personal website
for myself and document the process of making that website through comments
and blog posts that are created and displayed on the website -->

<!-- First step is to steal the toolbar from the default page that is created
when the new angular project is initiated, and tweak the links in the header
to include the github logo and a link to the github project itself. -->

<!-- Next step is to make the github project, push to it, and then update 
the link to be the actual project once the link exists. -->

<!-- ---------------------------SESSION 2------------------------------- -->

<!-- After adding some basic text to the homepage it's time to add a blog
post component to the project so I can start adding blog posts and make it an
actual blog. I imagine this is a component I'll need to revisit many times over
the course of the development of this project.  -->

<!-- --------------------------- SESSION 3 ------------------------------- -->

<!-- Added a post preview component and a click back to home in the toolbar. 
I also added the Content Union Type (described in other comments) and an
interesting pipe. -->

<router-outlet></router-outlet>
