<!-- This will be a post displayed in full on it's own page. I'll make 
a separate component for displaying post previews on the homepage. The
content of the page will be stored as an ordered array of content pieces.
This way I can expand the types of blog posts I can make, to make the 
blog more engaging. -->

<app-toolbar-buffer></app-toolbar-buffer>

<h1>{{post.title}}</h1>

<div *ngFor="let item of post.content;">
    <p *ngIf="item | guardType : isText as text">{{text.text}}</p>
    <img *ngIf="item | guardType : isImage as image" [src]="image.url" />
    <pre *ngIf="item | guardType : isCode as code"><code>{{code.code}}</code></pre>
    <a *ngIf="item | guardType : isLink as link" [href]="link.url">{{link.url}}</a>
    <h3 *ngIf="item | guardType : isHeading as heading">{{heading.text}}</h3>
</div>

<!-- I'll probably want to make this footer it's own component, but
it can go here for now. -->
<div class="footer">
    
</div>