
.input-container {
    display: flex;
    justify-content: space-around;
}

.pokemon-list {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pokemon {
    border: 1px solid black;
    width: 100px;
}

.modal {
	max-width: 50%;
	min-width: 33%;
}
