
.input-container {
    display: flex;
    justify-content: space-around;
}

.pokemon-list {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pokemon {
    border: 1px solid black;
    width: 100px;
}

.modal {
	max-width: 50%;
	min-width: 33%;
}

.notFound {
    background-color: hotpink;
}

.control-button {
    border: none;
    transition: 0.2s;
	height: 50%;
	background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button-selected, .control-button:hover {
    background-color: lightgray;
}
